body {
        font-family:"Times New Roman", Times, serif;
            margin: 0;
                padding: 0;
}

nav{
        background-color: #333;
            padding: 10px;
                text-align: center;
}

nav ul {
        list-style-type: none;
            padding: 0;
                margin: 0;
}

nav ul li {                       
        display: inline;
            margin-right: 20px;
}

nav ul li a { 
        color: white;
            text-decoration: none;
}

nav ul li a:hover {
        background-color: #111;
            padding: 10px;
                border-radius: 5px;
}

header {
        background-color: #f4f4f4;
            padding: 20px;
                text-align: center;
}

main {
        padding: 20px;
        display: flex;
            flex-direction: column;
                align-items: center;
}

.food-gallery{
        display: flex;
            justify-content: space-around;
                flex-wrap: wrap;
}

.food-item {
        text-align: center;
            margin: 20px;
}

.food-item img {
        width: 200px;
            height: 150px;
                border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
